LLM_API_KEY=
LLM_BASE_URL=https://api.openai.com/v1
LLM_MODEL=

GMAIL_CREDENTIALS_FILE=credentials.json
GMAIL_TOKEN_FILE=token.json

OUTPUT_FILE_JSON=output/summary.json
OUTPUT_FILE_HTML=output/summary.html
STATE_FILE=db_json\state.json
FUTURE_STATE_FILE=db_json\future_events.json

TIMEZONE=Asia/Kolkata
